{% include "common/header.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" id="loginForm">
    {% csrf_token %}
    <div class="panel">
        <div class="panel-heading">
            <h5>Login</h5>
        </div>
        <div class="panel-body">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">{{ form.username.label_tag }}</span>
                {{ form.username }}
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon">{{ form.password.label_tag }}</span>
                {{ form.password }}
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group-vertical" role="group" aria-label="...">
                <button class="btn btn-primary">Login</button>
                <a href="" class="btn btn-default">Recover my password</a>
            </div>

            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </div>
    <div class="row">



    </div>


</form>

{% endblock %}
{% include "common/footer.html" %}
