#postAddComment {
    textarea {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }
}

#postsList {
    .postMeta {
        margin-top: 15px;

        a {
            font-size: 80%;
        }
    }
}
