{% include "common/header.html" %}
{% if user.is_authenticated %}
    <h3>Welcome back, {{ user.username }}</h3>
{% else %}
    <div class="alert alert-warning text-center" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <p>You can not use this awesome website without an account. Please <a href="/login">login</a> or <a
                href="/register">register</a></p>
    </div>
{% endif %}
{% if user.is_authenticated %}
    {% for postare in postlist %}
        <ul class="list-group" id="postsList">
            <li class="list-group-item">
                <span class="badge">{{ postare.upvotes }}</span>
                <h4 class="list-group-item-heading">
                    <a href="/post/{{ postare.id }}">{{ postare.title }}</a>
                </h4>
                <p class="list-group-item-text">
                    {{ postare.content }}
                </p>
                <div class="btn-group btn-group-xs postMeta">
                    <a href="/post/{{ postare.id }}/edit" class="btn btn-info">
                        Edit
                    </a>
                    <a href="/post/{{ postare.id }}/delete" class="btn btn-danger">
                        Delete
                    </a>
                </div>
            </li>
        </ul>
    {% endfor %}
{% endif %}

{% include "common/footer.html" %}
