{% include "common/header.html" %}

		<h1>Pynguins Social News</h1>
				{% if user.is_authenticated %}
					hello {{ user.username }}
                {% else %}
					please log in <a href="/loginpage/">here</a>
				{% endif %}
                {% for postare in postlist %}
                    <br>
                    <div id="postare">
                        Titlu: <a href="/post/{{postare.id}}"> {{postare.title}} </a>
                        Voturi: {{postare.upvotes}}  Id:{{postare.id}} <br>
                    </div>
                    <br>
                {% endfor %}
{% include "common/footer.html" %}
