{% load staticfiles %}
<html>
	<head>
	</head>

	<div id = "topmenu">
		<ul>
		  <li><a class="active" href="#home">Home</a></li>
		  <li><a href="#news">Add a Post</a></li>
		  <li><a href="#contact">cevaceva</a></li>
		  <li style="float:right"><a href="#about">Log Out/in</a></li>
		</ul>
	</div>

	<body>
		<h1>Pynguins Social News</h1>

				{% if user.isauthenticated %}
					hello {{ user.username }}
					{% else %}
					please log in <a href="/loginpage/">here</a>
				{% endif %}		
			{% for postare in postlist %}
			<br>

			<br>
			<div id="postare">
				Titlu: <a href="/post/{{postare.id}}"> {{postare.title}} </a>
				Voturi: {{postare.upvotes}}  Id:{{postare.id}} <br>
			</div>
			<br>
			{% endfor %}
	</body>
</html>