{% include "common/header.html" %}
		{{ post.content }}

		<br>

		<p>Post upvotes : {{ post.upvotes }} upvotes</p>

		<form action = "/like_post/{{ post.id }}">
			<input type = "submit" value = "Susvot" />
		</form>

		<p>Users who liked this post: </p>
		{% for user in user_list %}
			{{ user.username }}
		{% endfor %}

		<form action="{%  url 'add_comment' post.id %}" method="post">
    		{% csrf_token %}
 
			<textarea default="" cols="40" id="id_content" name="content" rows="10" required>
			</textarea>

    		<input type="submit" value="Submit" />
		</form>
		<br>

		<form action = "/">
			<input type = "submit" value = "back" />
		</form>

        {% for comment in comments %}
            <p>Comment posted by: {{ comment.user }}</p>
			{{ comment.content }}
		{% endfor %}


{% include "common/footer.html" %}
