{% include "common/header.html" %}
	<div class="container-fluid">
		<div class="well well-lg">
			<p>{{ post.content }}</p>

			<footer class="post-footer">
				<a href="/like_post/{{ post.id }}">
					Like <i class="glyphicon glyphicon-heart"></i>
				</a>
			</footer>
		</div>

		<h3>Comments</h3>
		<ul class="list-group" id="postComments">
			{% for comment in comments %}
			<li class="list-group-item">
				<span class="author"><strong>{{ comment.user }}</strong> said:</span>
				{{ comment.content }}
			</li>
			{% endfor %}
		</ul>

		<h3>Votes ({{ post.upvotes }})</h3>
		<ul class="list-group" id="postVotes">
			{% for user in user_list %}
				<li class="list-group-item">
					{{ user.username }}
				</li>
			{% endfor %}
		</ul>

		<h3>Submit your comment</h3>
		<form action="{%  url 'add_comment' post.id %}" method="post" id="postAddComment">
    		{% csrf_token %}
			<textarea name="content" rows="5" required></textarea>
			<button type="submit" class="btn btn-block btn-primary">Submit</button>
		</form>

		<a href="/" class="btn btn-block btn-default">Go Back To Articles</a>
	</div>


{% include "common/footer.html" %}
